<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Accueil"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container ">
    <div id="mapId"></div>
    <div class="row">
      
      <!-- 
      <div class="btn-group justify-content-center selection mt-5">
        <button type="button" class="btn bouton dropdown-toggle" data-toggle="dropdown" data-display="static"
          aria-haspopup="true" aria-expanded="false">
          Choississez votre zone
        </button>
        <div class="dropdown-menu dropdown-menu-lg-right">
          <button class="dropdown-item dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" type="button">dakar</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
            <a class="dropdown-item" routerLink="/statistics">Pikine</a>
            <a class="dropdown-item">Parcel</a>
            <a class="dropdown-item" href="#">Liberté 6</a>
            <a class="dropdown-item" href="#">Coloban</a>
            <a class="dropdown-item" href="#">Cité Sipres</a>
            <a class="dropdown-item" href="#">Dalifort</a>
            <a class="dropdown-item" href="#">Nord Foire</a>
            <a class="dropdown-item" href="#">Plateau</a>

          </div>
          <button class="dropdown-item" type="button"> Thies</button>
          <button class="dropdown-item" type="button">Touba</button>
          <button class="dropdown-item" type="button">Kaolack</button>
          <button class="dropdown-item" type="button">Ziguinchor</button>
        </div>
      </div> -->
    </div>
  </div>
</ion-content>