#container{
  background-image: url("../../assets/images/—Pngtree—coronavirus with green color vector_5337144.png");
  background-size: 100%;
  background-repeat: no-repeat;
   padding: 1px;
    height: 100%;
    width: 100%;
    background-color: #bdfdd5;
}
#bouton{
  background-color: red;
      position: absolute;
    bottom: 5px;
  font-family: "open sans";
  font-size: 25px;
}
