h1{
    font-family: "open-sans";
    font-size: 25px;
    text-align: center;
    color: #ca0727;
    font-weight: bold;
    text-decoration: underline;
    padding: 20px;
}
span,h4{
    color: red;
}
legend{
    text-align: center;
}
.dropdown-menu{
    width: 150px;
}
img{
    width: 100%;
    margin: 0;
    padding: 0;

}